@charset "UTF-8";
/* CSS Document */

/* CLASS GENERIQUES ------  */
html { overflow-x:hidden }
body, td, p, h1, h2, h3 { font-size:14px; color:#444444; text-decoration:none; margin:0; padding:0; }
*{  }

#titre { font-size: 20px ; color: #ee6c03 ; font-weight: bold ; margin:0; padding :6px 0 0 0; height:100px; }
#titre_categorie { font-size: 20px ; color: #ee6c03 ; font-weight: bold ; margin:0; padding :6px 0 0 0; height:450px }

a{ color:#444444; font-size:13px; text-decoration : none }
.titre_modes{ color:#666666; font-weight:bold; font-size:14px; }
.titre_modes2{ color:#ee6c03; font-weight:bold; font-size:14px; }
.txt_modes{ color:#666666; font-size:12px; }

.titre_envoi{ color:#ee6c03;font-size:12px; }

/* POPUP ACCUEIL ET FOOTER ------ LIVRAISON OFFERTE */
#LivraisonOfferte { width:500px; height:200px; background:url(/_themes/puzzlethemes/fr/images/design_elements/livraison_offerte_homepage.gif) no-repeat; }
#LivraisonOfferte .PartTxt { display:block; width:300px; height:60px; padding:100px 0 0 190px; font-size:14px; color:#ee6c03; font-weight:normal; text-align:center; }
#LivraisonOfferte .PartTxt2 { margin:0; padding:0; font-size:12px; color:#999999; font-weight:normal; text-align:center; }

/* POPUP FOOTER ------ PAIEMENTS EN 2X / 3X */
#PaiementCheques { width:500px; height:300px; font-weight:normal; text-align:center; }
#PaiementCheques .Title{ display:block; height:auto; padding-top:20px; font-size:40px; color:#000; text-shadow: 1px 1px 0 #FFFFFF; }
#PaiementCheques .PartTxt { display:block; height:60px; padding-top:20px; font-size:14px; color:#ee6c03; }
#PaiementCheques .PartTxt2 { display:block; height:auto; padding:20px 20px 0 20px; font-size:12px; color:#666666; }

/* POPUP FOOTER ------ MODES DE PAIEMENTS */
#Secure{ width:500px; height:640px; background:url(/_themes/puzzlethemes/fr/images/design_elements/secure.gif) no-repeat; }
#Secure .PartTxt { display:block; width:450px; height:60px; padding:120px 0 0 25px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; font-weight:normal; text-align:center; }
#Secure .PartTxt2 { display:block; width:300px; height:140px; padding:90px 0 0 175px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; font-weight:bold; text-align:left; }
#Secure .PartTxt3 { display:block; width:450px; height:100px; padding:30px 0 0 25px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666; font-weight:normal; text-align:center; }
#Secure .PartTxt3Bleu { font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#ee6c03; font-weight:bold; text-align:center; }

/* POPUP HEADER ------ TELEPHONE */
#Telephone{}
#Telephone .Titre{ color:#ee6c03; font-size:24px; }
.orange{color:#f60}
/* POPUP PANIER ------ CONDITIONS GENERALES DE VENTES */
#cgv{width:600px;float:left; margin:20px;}
.h1infos{ font-size:20px; color:#ee6c03; font-weight:bold; margin:0; padding:0;}
.h2infos{ font-size:14px; color:#ee6c03; font-weight:bold; margin:20px 0px; padding:0; width:700px;}
.h3infos{ font-size:12px; color:#ee6c03; font-weight:bold; margin:0; padding:0;}
.justify{text-align:justify;}
.blocinfos{ font-size:12px; color:#666666; margin:0; padding:0;}
.blocinfos2{ font-size:12px; color:#ee6c03; }
.retour_haut_de_page{ margin:15px 0px; display:block; height:25px; }
.txt_retour{ font-size:12px !important; color:#999; text-decoration:none; display:block; padding:5px; border:1px solid #ccc; width:160px; text-align:center; float:right; }
.txt_h2{ font-size:14px; color:#ee6c03; font-weight:bold; padding:0; display:block;}
.txt_h3{ font-size:12px; color:#ee6c03; margin:10px 0px; padding:0;}
.txt_link{text-decoration:none}
.txt_link_content{ font-size:12px !important; color:#666666; text-decoration:underline; }
.txt_ancre{ font-size:12px !important; color:#666666; font-weight:bold; text-decoration:none; }
.txt_ancre:hover{ text-decoration:underline; }
.txt_ancre_bis{ font-size:12px !important; color:#666666; text-decoration:none; }
.txt_ancre_bis:hover{ text-decoration:underline; }
.txt_bold{ font-weight:bold; font-size:12px; color:#666666; margin:0; padding:0; text-align:justify; }


#page-adp .produit{display:block;padding-bottom:16px;font-size:13px; font-weight:bold; text-align:left; padding:5px 0 10px 0; color:#666666}
#page-adp .propose{background-color: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 20px; padding: 19px;}
#page-adp .interieur{background-color:#FFF; padding:10px}
#page-adp .avec-prod{text-align:center; font-size:16px; font-weight:bold; color:#666666; margin:0px 0px 10px 0;padding:5px; background-color:F5F5F5; border:1px solid #E3E3E3}
#page-adp .ligne-prod{display:block;clear:left;overflow:hidden;text-align:left; border-bottom:1px solid #E5E5E5; padding:5px; margin-top:5px}

#page-adp .benefice{clear:left;color:#2584C5; padding:5px; margin:15px 0px 5px 0; font-weight:bold}
#page-adp .btn-orange{cursor:pointer;cursor:pointer; background-color: #f60; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); width:215px; padding:10px; border-radius:5px; font-size:14px}
#page-adp .btn{cursor:pointer; background-color: #5182C3; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); width:215px; padding:10px; border-radius:5px; margin-left:90px; font-size:14px }
#page-adp .{}










