.password_container {
    position: relative;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    right: -6px;
    top: 7px;
}
.fa-eye:hover, .fa-eye-slash:hover {
    cursor: pointer;
}

#icone_err_pwd, #icone_err_pwd2 {
    top: -2px;
    right: 26px;
}