<div class="container">
    <div class="row align-items-center">
 <div class="col-lg-6">
      <p class="mb-1"><i class="bi bi-puzzle"></i> <strong>320 pièces</strong></p>
      <a href="#" class="text-decoration-none text-info">Pintoo</a>
      <p class="fst-italic text-muted mb-2">Pintoo-M1281</p>
 </div>