<div class="container my-4 single-page">
  <div class="row g-3">
    <div class="col-12 d-flex align-items-start">
      <div class="icon-box bg-info-subtle text-info rounded p-2 me-3">
        <img src="/_themes/puzzlethemes/fr/images/gift-produit.svg" />
      </div>
      <div>
      
        <strong>Livraison offerte à partir de 39 € d'achat</strong>
      </div>
    </div>

    <div class="col-12 d-flex align-items-start">
      <div class="icon-box bg-info-subtle text-info rounded p-2 me-3">
      <img src="/_themes/puzzlethemes/fr/images/delivery-truck-produit.svg" />
      </div>
      <div>
        <strong>Expédié le jour même</strong><br>
        <small>Pour toute commande payée avant 12h (Colissimo & Chronopost)</small>
      </div>
    </div>

    <div class="col-12 d-flex align-items-start">
      <div class="icon-box bg-info-subtle text-info rounded p-2 me-3">
        <img src="/_themes/puzzlethemes/fr/images/delivery-truck-produit.svg" />
      </div>
      <div>
        <strong>Vous arrivez juste à temps, ce produit est victime de son succès.</strong><br>
        <small>Il sera probablement en rupture de stock d'ici 10 à 12 jours.</small>
      </div>
    </div>
  </div>
</div>

