<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="enstock-produit">
	    
        En stock
    </div>
    <div class="categorie-produit">Enfant</div>
    <div class="categorie-produit">320 pièces</div>
</div>
<div style="clear:both"></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 categorie_stock mt-4">



