<div>    
	<a href="/" title="Puzzle.fr/Planet'Puzzles">
        <img alt="Puzzle.fr/Planet'Puzzles" src="/_themes/puzzlethemes/fr//images/logo.svg" style="border:0;margin-top:1px" class="img-responsive" width="175">
    </a>
</div>