<!-- Espace client -->

<div id="main_espaceclient">

<div class="row" >

  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">  
    <div style="float:left"> <img src="/images/carte-privilegies.jpg" class="img-responsive" /></div>
<span style=" font-size:14px; float:left; padding-top:20px">En tant que client membre du Club Puzzle.fr/Planet'Puzzles, vous avez un acc&egrave;s privil&eacute;gi&eacute; aux nouveaut&eacute;s.<br />
Voici donc en avant-premi&egrave;re, les nouveaut&eacute;s &agrave; venir ! </span>
	</div>
</div>


<div class="row" >

  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding:0; margin:0">  
    <div style="float:left"> <img src="/images/picto-fi.jpg" class="img-responsive" /></div><span class="uppercase" style=" font-size:18px; float:left; padding-top:3px; padding-left:10px">D&eacute;couvrez  les nouveaut&eacute;s &agrave; venir</span>
	</div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="height:2px; background-color:#bf975a; padding:0; margin:0"> </div>
</div>


</div>
